# Переменные окружения для подключения к Postgres
DB_HOST=database
DB_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=news_db

# Переменные окружения для парсера
NEWS_URL=https://edition.cnn.com/
ACCEPT=/
ACCEPT_LANGUAGE=en-US,en;q=0.9
CONNECTION=keep-alive

# Переменные окружения для подключения к RabbitMQ
RABBITMQ_DEFAULT_USER=guest
RABBITMQ_DEFAULT_PASS=guest
RABBITMQ_LOCAL_HOST_NAME=rabbitmq
RABBITMQ_LOCAL_PORT=5672

# Очереди сообщений
FANOUT_EXCHANGE=from_parser_to_analyse_and_translate
ANALYSIS_QUEUE=analysis_queue
TRANSLATE_QUEUE=translate_queue