# Переменные окружения для подключения к Postgres
DB_HOST=localhost
DB_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=orders_db

# Переменные окружения для парсера
NEWS_URL=https://edition.cnn.com/
ACCEPT=/
ACCEPT_LANGUAGE=en-US,en;q=0.9
CONNECTION=keep-alive

# Переменные окружения для подключения к RabbitMQ
RABBITMQ_DEFAULT_USER=guest
RABBITMQ_DEFAULT_PASS=guest
RABBITMQ_LOCAL_HOST_NAME=localhost
RABBITMQ_LOCAL_PORT=5672

# Очереди сообщений
PARSER_QUEUE=parser_queue