# Игнорируем системные файлы и временные файлы редакторов
.DS_Store
.mypy_cache
.pytest_cache
*.pyc
*.pyo
*.pyd
*.swp
*.swo
__pycache__/
*.log
*.tmp
*.toml
*.pdf

# Исключаем файлы конфигураций IDE
.idea/
*.iml

# Исключаем артефакты сборки
build/

# Исключаем файлы Docker
Dockerfile
docker-compose.yaml
.dockerignore
